# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/library/
renv/staging/
renv/local/
renv/activate.R

# Временные файлы
*.tmp
*.log
*.bak
*.png
*.pdf
*.csv
*.txt
output/plots/
output/reports/
data/input/*.json

# Docker
*.tar.gz
.DS_Store
